*{
    box-sizing:border-box;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 10px;
    margin-bottom: -5px;
    box-shadow: 0 0 10px rgb(3, 3, 3);
    background-color: #61082B;
}

.header--logo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Ballet;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -10px;
    color: white;
}


.header__nav ul{
    padding: 0;
    margin: 0;
    align-items: center;
    list-style-type: none;
    display: flex;
}

.header__nav li a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    padding: 17px;
}
.header--logo, .header--navigation{
    box-shadow: none;
}

.main{
    grid-area: main;
    margin: 20px 20%;
}

.main--intro{
    margin: 20px;
}

.main__heading-one,
.main__heading-two{
    padding: 15px;
    text-align: center;
}

.main--contact-way{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.contact-media{
    display: block;
    background-color: #eee;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.socials{
    display: flex;
    margin: 10px;
}

.socials ul{
    list-style-type: none;
}

.contact-icon ul li{
    padding: 5px;
}

.contact-name ul li{
    padding: 5px 0 25px 0;
}
.address{
    margin: 10px 50px;
    background-color: #eee;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.address p{
    margin: 20px;
}
.address img{
    height: 30px;
}


.contact-icon img{
    height: 30px;
    border-radius: 50%;
}

.main--message{
    margin: 10px 25px;
    background-color: #eee;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.label{
    display: flex;
    justify-content: space-between;
}

.info{
    width: 35vw;
    background-color:rgb(204, 188, 164);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;

}

.submit{
    display: block;
    width: 100px;
    padding: 10px;
    color: white;
    background-color: green;
    margin: 5px auto;
    border-radius: 5px;
}

.form{
    margin: 10px 25px;
    background-color: none;
    box-shadow: none;
}

.footer{
    padding: 10px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #61082B;
    box-shadow: 0px 0 10px 0 rgb(3, 3, 3);
}
.footer--copyright p{
    color: white;
}
.footer__social-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.footer__social-list li a{
    padding: 10px;
}

.footer__social-list img{
    height: 40px;
    border-radius: 50%;
}

.footer--copyright, 
.footer--media{
    box-shadow: none;
}
.container{
    display: grid;
    grid-template-areas: 
    'header header header''main main main''footer footer footer';
} 

.header__nav ul li a:hover:not(.active){
    font-weight: bolder;
    background-color: #4fbecf86 ;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom:7px solid #999;
}

.active{
    background-color: #05839686;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom:7px solid rgb(8, 218, 1);
}

.submit:hover{
    background-color: rgb(54, 214, 54);
    font-weight: bolder;
}
@media only screen and (max-width: 768px){
    .main{
        margin: 20px 5%;
    }

    .header__nav li a{
        font-size: 1em;
    }

    .address{
        margin: 10px 10px;
    }
    
    .address p{
        margin: 5px;
    }

    .info{
        width: 40vw;
        background-color:rgb(204, 188, 164);
        padding: 10px;
        border-radius: 5px;
        margin: 5px 10px;
    
    }
    .main--contact-way{
        margin: 1px;
    }

    .socials{
        margin: 5px;
    }
    .main--message{
        margin: 10px 25px;
    }

}

@media only screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .header__nav ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .header__nav{
        display: inline-block;
    }

    .header__nav li a{
        display: block;
        font-size: 1em;
    }

    .header--logo{
        width: 100%;
        display: block;
        font-size: 1em;
        margin: 10px auto;
    }

    .main{
        margin: 20px 10%;
    }
    
    .main--contact-way{
        display: block;
        margin: 5px;
    }
    .socials{
        margin: 5px;
    }

    .contact-name{
        margin-right: 5px;
    }

    .address{
        margin: 10px 10px;
    }
    .label{
        display: block;
    }

    .info{
        width: 50vw;
        background-color:rgb(204, 188, 164);
        padding: 10px;
        border-radius: 5px;
        margin: 5px 10px;
    
    }
    .main--message{
        margin: 10px 10px;
    }

    .footer__social-list img{
        height: 25px;
    }

    .footer__social-list li a{
        padding: 5px;
    }
}
